
/*setting the correct type of font*/
*{
  font-family: 'DM Sans', sans-serif;
}
/*--------------*/

/*Subheading CSS design*/
.subhead{
  font-size: 80px;
  color: #E5E5CB;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
/*--------------*/

/* Hero/Header for the beginning of the page (CSS)*/
.head-hero{
  background-color: #1A120B;
  color: #E5E5CB;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 74vh;
}
.hero-font{
  text-align: left;
  margin: 10px;
}
.head-h2{
  margin: 0px;
}
.name{
  font-weight: bold;
  font-size: 140px;
  margin: 0px;
}
.paragraph{
  font-size: 25px;
}
/*--------------*/

/*About me section*/
.about-me{
  background-color: #3C2A21;
  color: #E5E5CB;
  display: flex;
  justify-content: center;
}

.about-me-p{
  text-align: center;
  display: flex;
  width: 1000px;
}
/*--------------*/

/*Skills section w the logos*/
.skills{
  background-color:#50382c;
  color: #E5E5CB;
}

.indi-logo{
  width: 90px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.indi-logo:hover{
  transition: 0.30s;
  width:120px;
}
/*--------------*/

/*Education CSS section*/
.education{
  background-color: #6e5244;
  color: #E5E5CB;
}
.university{
  text-align: center;
  font-weight: bold;
}
/*--------------*/

/*internship history(CSS)*/
.internship{
  background-color: #4f3a30;
  color: #E5E5CB;
}
.company{
  text-align: center;
  font-weight: bold;
}
/*--------------*/

/*Contact Me div (CSS design)*/
.contact-heading{
  font-size: 80px;
  text-align: center;
  font-weight:bold;
}

.contact{
  color: #4f3a30;
  background-color: #E5E5CB;
}

.contact-img{
  width: 90px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
/*--------------*/

/*sizing and media compatibility*/
@media (max-width:1000px){
  .about-me-p{
    width: auto;
  }
}

@media (max-width:500px){
  .name{
    font-size: 60px;
  }
  .head-hero{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-bottom: 100px;
  }
  .hero-font{
    text-align: center;
  }

  .about-me-p{
    width: auto;
  }

  .subhead{
    font-size: 60px;
  }

  .contact-heading{
    font-size:60px;
  }
  .paragraph{
    font-size: 20px;
  }
}
/*--------------*/