
/*setting the correct type of font*/
*{
  font-family: 'DM Sans', sans-serif;
  background-color: #272635;
  color: #EBEBEB;
  justify-content: center;
  align-items: center;
}
/*--------------*/

.selector{
  list-style-type: none;
  display: flex;
  font-size: 20px;
  padding: 0px;
  margin: 0px;
}

.hov{
  border-radius: 5px;
}

.hov:hover{
  transition: 0.30s;
  background-color: #B8336A;
}


/*Subheading CSS design*/
.subhead{
  font-size: 80px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
/*--------------*/
/* Hero/Header for the beginning of the page (CSS)*/
.head-hero{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  height: 74vh;
}
.hero-font{
  text-align: left;
  margin: 10px;
}
.head-h2{
  margin: 0px;
}
.name{
  font-weight: bold;
  font-size: 140px;
  margin: 0px;
}
.name:hover{
  transition: 0.30s;
  color:#84A98C ;
}
.paragraph{
  font-size: 25px;
}
/*--------------*/

/*About me section*/
.about-me{
  display: flex;
  justify-content: center;
}

.about-me-p{
  text-align: center;
  display: flex;
  width: 1000px;
}
/*--------------*/

/*Skills section w the logos*/
.skills{
}

.indi-logo{
  width: 90px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.indi-logo:hover{
  transition: 0.30s;
  width:120px;
}
/*--------------*/

/*Education CSS section*/
.education{
}
.university{
  text-align: center;
  font-weight: bold;
}
/*--------------*/

/*internship history(CSS)*/
.internship{
}
.company{
  text-align: center;
  font-weight: bold;
}
/*--------------*/

/*Contact Me div (CSS design)*/
.contact-heading{
  font-size: 80px;
  text-align: center;
  font-weight:bold;
}


.contact-img{
  width: 90px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
/*--------------*/

.links{
  font-size: 30px;
  text-decoration: none;
  color: #EBEBEB;
}
.links:hover{
  transition: 0.20s;
  color: #B8336A;
}

/*sizing and media compatibility*/
@media (max-width:1000px){
  .about-me-p{
    width: auto;
  }
}

@media (max-width:500px){
  .name{
    font-size: 60px;
  }
  .head-hero{
    padding-top: 40px;
    padding-bottom: 40px;
    padding-bottom: 100px;
  }
  .hero-font{
    text-align: center;
  }

  .about-me-p{
    width: auto;
    padding: 30px;
  }

  .subhead{
    font-size: 60px;
  }

  .contact-heading{
    font-size:60px;
  }
  .paragraph{
    font-size: 20px;
  }
}
/*--------------*/